
  <h2> SIGN UP </h2> 

  <form action="<%= users_url %>" method="post">

    <label for="email">Email:
      <input type="text" name="user[email]" value="<%= @user.email %>"/> 
    </label> 
    <br> 
    <label for="password">Password: 
      <input type="password" name="user[password]" value="<%= @user.password %>"/>
    </label>
    <br> 
    <input type="submit" value="Sign Up"/>
  </form>


